In [1]:
import pandas as pd

# from collections import Counter
# from string import punctuation

import nltk
# needed only if nltk isn't already installed
# nltk.download()
# from nltk.corpus import stopwords
# from nltk import word_tokenize

In [2]:
# import cleaned up movie data
movieDF = pd.read_csv('Inflation_Adjusted_Movie.csv')
movieDF.dtypes

Unnamed: 0               int64
Title                   object
Year                     int64
Release Date            object
Genre                   object
IMDb Rating            float64
Metascore              float64
Rated                   object
Box_Office_Adjusted    float64
dtype: object

In [3]:
# import economic indicator data
econDF = pd.read_csv('USA_Multiyear_Indicators.csv')
econDF.dtypes

Unnamed: 0           int64
LOCATION            object
TIME                 int64
GDP                float64
GDP_1              float64
GDP_2              float64
Unemployment       float64
Unemployment_1     float64
Unemployment_2     float64
Confidence         float64
Confidence_1       float64
Confidence_2       float64
Median_Income        int64
Median_Income_1      int64
Median_Income_2      int64
dtype: object

In [4]:
econDF.head()

,Unnamed: 0,LOCATION,TIME,GDP,GDP_1,GDP_2,Unemployment,Unemployment_1,Unemployment_2,Confidence,Confidence_1,Confidence_2,Median_Income,Median_Income_1,Median_Income_2
0,0,USA,1992,3.522443,-0.108262,1.885960,7.508333,6.816667,5.616667,98.883736,98.929730,99.391740,53897,54318,55952
1,1,USA,1993,2.752852,3.522443,-0.108262,6.900000,7.508333,6.816667,99.561792,98.883736,98.929730,53610,53897,54318
2,2,USA,1994,4.028831,2.752852,3.522443,6.083333,6.900000,7.508333,100.623117,99.561792,98.883736,54233,53610,53897
3,3,USA,1995,2.684285,4.028831,2.752852,5.608333,6.083333,6.900000,100.611942,100.623117,99.561792,55931,54233,53610
4,4,USA,1996,3.772504,2.684285,4.028831,5.416667,5.608333,6.083333,100.787433,100.611942,100.623117,56744,55931,54233

In [5]:
# rename TIME
econDF=econDF.rename(columns={'TIME':'Year'})

# create rolling average columns
econDF['GDP_AVG']=(econDF.GDP+econDF.GDP_1+econDF.GDP_2)/3
econDF['Unemployment_AVG']=(econDF.Unemployment+econDF.Unemployment_1+econDF.Unemployment_2)/3
econDF['Confidence_AVG']=(econDF.Confidence+econDF.Confidence_1+econDF.Confidence_2)/3
econDF['Median_Income_AVG']=(econDF.Median_Income+econDF.Median_Income_1+econDF.Median_Income_2)/3
econDF.head()

,Unnamed: 0,LOCATION,Year,GDP,GDP_1,GDP_2,Unemployment,Unemployment_1,Unemployment_2,Confidence,Confidence_1,Confidence_2,Median_Income,Median_Income_1,Median_Income_2,GDP_AVG,Unemployment_AVG,Confidence_AVG,Median_Income_AVG
0,0,USA,1992,3.522443,-0.108262,1.885960,7.508333,6.816667,5.616667,98.883736,98.929730,99.391740,53897,54318,55952,1.766714,6.647222,99.068402,54722.333333
1,1,USA,1993,2.752852,3.522443,-0.108262,6.900000,7.508333,6.816667,99.561792,98.883736,98.929730,53610,53897,54318,2.055678,7.075000,99.125086,53941.666667
2,2,USA,1994,4.028831,2.752852,3.522443,6.083333,6.900000,7.508333,100.623117,99.561792,98.883736,54233,53610,53897,3.434709,6.830555,99.689548,53913.333333
3,3,USA,1995,2.684285,4.028831,2.752852,5.608333,6.083333,6.900000,100.611942,100.623117,99.561792,55931,54233,53610,3.155323,6.197222,100.265617,54591.333333
4,4,USA,1996,3.772504,2.684285,4.028831,5.416667,5.608333,6.083333,100.787433,100.611942,100.623117,56744,55931,54233,3.495207,5.702778,100.674164,55636.000000

In [6]:
# join on year
mergedDF = movieDF.merge(econDF, on='Year',how='left')

In [7]:
mergedDF.head(20)

,Unnamed: 0_x,Title,Year,Release Date,Genre,IMDb Rating,Metascore,Rated,Box_Office_Adjusted,Unnamed: 0_y,...,Confidence,Confidence_1,Confidence_2,Median_Income,Median_Income_1,Median_Income_2,GDP_AVG,Unemployment_AVG,Confidence_AVG,Median_Income_AVG
0,0,Pulp Fiction,1994,14-Oct-94,"Crime, Drama",8.9,94.0,R,174798000.0,2.0,...,100.623117,99.561792,98.883736,54233.0,53610.0,53897.0,3.434709,6.830555,99.689548,53913.333333
1,1,The Amazing Spider-Man 2,2014,2-May-14,"Action, Adventure, Sci-Fi",6.6,53.0,PG-13,185110348.7,22.0,...,99.697407,99.120563,98.800227,56969.0,57856.0,55900.0,2.205866,7.202778,99.206066,56908.333333
2,7,The Silence of the Lambs,1991,14-Feb-91,"Crime, Drama, Thriller",8.6,85.0,R,230032000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8,Jurassic Park,1993,11-Jun-93,"Adventure, Sci-Fi, Thriller",8.1,68.0,PG-13,75197468.8,1.0,...,99.561792,98.883736,98.929730,53610.0,53897.0,54318.0,2.055678,7.075000,99.125086,53941.666667
4,9,The Lion King,1994,24-Jun-94,"Animation, Adventure, Drama, Family, Musical",8.5,83.0,G,152669828.7,2.0,...,100.623117,99.561792,98.883736,54233.0,53610.0,53897.0,3.434709,6.830555,99.689548,53913.333333
5,11,Toy Story,1995,22-Nov-95,"Animation, Adventure, Comedy, Family, Fantasy",8.3,95.0,G,301126000.0,3.0,...,100.611942,100.623117,99.561792,55931.0,54233.0,53610.0,3.155323,6.197222,100.265617,54591.333333
6,12,The Big Lebowski,1998,6-Mar-98,"Comedy, Crime",8.1,71.0,R,25725000.0,6.0,...,102.053367,101.912050,100.787433,60040.0,57911.0,56744.0,4.233710,4.958333,101.584283,58231.666667
7,13,Saving Private Ryan,1998,24-Jul-98,"Drama, War",8.6,91.0,R,318255000.0,6.0,...,102.053367,101.912050,100.787433,60040.0,57911.0,56744.0,4.233710,4.958333,101.584283,58231.666667
8,14,Fight Club,1999,15-Oct-99,Drama,8.8,66.0,R,53280000.0,7.0,...,102.206075,102.053367,101.912050,61526.0,60040.0,57911.0,4.560621,4.558333,102.057164,59825.666667
9,15,The Matrix,1999,31-Mar-99,"Action, Sci-Fi",8.7,73.0,R,246960000.0,7.0,...,102.206075,102.053367,101.912050,61526.0,60040.0,57911.0,4.560621,4.558333,102.057164,59825.666667
10,16,Star Wars: Episode I - The Phantom Menace,1999,19-May-99,"Action, Adventure, Fantasy, Sci-Fi",6.5,51.0,PG,620640000.0,7.0,...,102.206075,102.053367,101.912050,61526.0,60040.0,57911.0,4.560621,4.558333,102.057164,59825.666667
11,17,Gladiator,2000,5-May-00,"Action, Adventure, Drama",8.5,67.0,R,260903000.0,8.0,...,102.368075,102.206075,102.053367,61399.0,61526.0,60040.0,4.454040,4.238889,102.209172,60988.333333
12,18,X-Men,2000,14-Jul-00,"Action, Adventure, Sci-Fi",7.4,64.0,PG-13,217069112.3,8.0,...,102.368075,102.206075,102.053367,61399.0,61526.0,60040.0,4.454040,4.238889,102.209172,60988.333333
13,19,Harry Potter and the Sorcerer's Stone,2001,16-Nov-01,"Adventure, Family, Fantasy",7.6,64.0,PG,431878731.8,9.0,...,100.301663,102.368075,102.206075,60038.0,61399.0,61526.0,3.293021,4.313889,101.625271,60987.666667
14,20,The Lord of the Rings: The Fellowship of the Ring,2001,19-Dec-01,"Adventure, Drama, Fantasy",8.8,92.0,PG-13,427040000.0,9.0,...,100.301663,102.368075,102.206075,60038.0,61399.0,61526.0,3.293021,4.313889,101.625271,60987.666667
15,21,The Lord of the Rings: The Two Towers,2002,18-Dec-02,"Adventure, Drama, Fantasy",8.7,87.0,PG,451801000.0,10.0,...,100.293418,100.301663,102.368075,59360.0,60038.0,61399.0,2.289174,4.833333,100.987719,60265.666667
16,22,xXx,2002,9-Aug-02,"Action, Adventure, Thriller",5.9,48.0,PG-13,187708342.4,10.0,...,100.293418,100.301663,102.368075,59360.0,60038.0,61399.0,2.289174,4.833333,100.987719,60265.666667
17,23,Finding Nemo,2003,30-May-03,"Animation, Adventure, Comedy, Family",8.1,90.0,G,494688181.0,11.0,...,100.139544,100.293418,100.301663,59286.0,59360.0,60038.0,1.867082,5.500000,100.244875,59561.333333
18,24,The Lord of the Rings: The Return of the King,2003,17-Dec-03,"Adventure, Drama, Fantasy",8.9,94.0,PG-13,473200000.0,11.0,...,100.139544,100.293418,100.301663,59286.0,59360.0,60038.0,1.867082,5.500000,100.244875,59561.333333
19,25,Anchorman: The Legend of Ron Burgundy,2004,9-Jul-04,Comedy,7.2,63.0,PG-13,106853874.4,12.0,...,100.937925,100.139544,100.293418,59080.0,59286.0,59360.0,2.800599,5.766667,100.456962,59242.000000

In [8]:
mergedDF.columns

Index(['Unnamed: 0_x', 'Title', 'Year', 'Release Date', 'Genre', 'IMDb Rating',
       'Metascore', 'Rated', 'Box_Office_Adjusted', 'Unnamed: 0_y', 'LOCATION',
       'GDP', 'GDP_1', 'GDP_2', 'Unemployment', 'Unemployment_1',
       'Unemployment_2', 'Confidence', 'Confidence_1', 'Confidence_2',
       'Median_Income', 'Median_Income_1', 'Median_Income_2', 'GDP_AVG',
       'Unemployment_AVG', 'Confidence_AVG', 'Median_Income_AVG'],
      dtype='object')

In [9]:
# drop any unnecessary columns
mergedDF = mergedDF[['Title','Year','Release Date', 'Genre', 'IMDb Rating',
       'Metascore', 'Rated', 'Box_Office_Adjusted', 
       'GDP', 'GDP_1', 'GDP_2', 'Unemployment', 'Unemployment_1',
       'Unemployment_2', 'Confidence', 'Confidence_1', 'Confidence_2',
       'Median_Income', 'Median_Income_1', 'Median_Income_2', 'GDP_AVG',
       'Unemployment_AVG', 'Confidence_AVG', 'Median_Income_AVG']]
# export to csv
mergedDF.to_csv('mergedData.csv')

In [10]:
mergedDF.Genre.unique()

array(['Crime, Drama', 'Action, Adventure, Sci-Fi',
       'Crime, Drama, Thriller', 'Adventure, Sci-Fi, Thriller',
       'Animation, Adventure, Drama, Family, Musical',
       'Animation, Adventure, Comedy, Family, Fantasy', 'Comedy, Crime',
       'Drama, War', 'Drama', 'Action, Sci-Fi',
       'Action, Adventure, Fantasy, Sci-Fi', 'Action, Adventure, Drama',
       'Adventure, Family, Fantasy', 'Adventure, Drama, Fantasy',
       'Action, Adventure, Thriller',
       'Animation, Adventure, Comedy, Family', 'Comedy',
       'Crime, Thriller', 'Action, Adventure',
       'Drama, Mystery, Sci-Fi, Thriller',
       'Action, Drama, Sci-Fi, Thriller',
       'Action, Crime, Drama, Thriller', 'Action, Adventure, Comedy, War',
       'Action, Adventure, Sci-Fi, Thriller', 'Adventure, Drama, War',
       'Action, Thriller', 'Adventure, Comedy, Horror, Sci-Fi',
       'Animation, Comedy, Family, Fantasy',
       'Animation, Action, Adventure, Family, Fantasy', 'Action, Comedy',
       'Action, Comedy, Crime, Thriller', 'Mystery, Thriller',
       'Adventure, Drama, Fantasy, Mystery', 'Mystery, Sci-Fi, Thriller',
       'Action, Adventure, Fantasy', 'Crime, Drama, Mystery, Thriller',
       'Action, Crime, Drama, Sci-Fi, Thriller', 'Action, Comedy, Crime',
       'Horror', 'Action, Drama, Mystery, Sci-Fi',
       'Comedy, Fantasy, Horror', 'Drama, Western',
       'Action, Crime, Sci-Fi', 'Drama, Thriller', 'Comedy, Drama',
       'Action, Comedy, Sport',
       'Animation, Comedy, Family, Fantasy, Horror',
       'Action, Crime, Thriller', 'Action, Adventure, Crime, Thriller',
       'Action', 'Action, Adventure, Comedy, Sci-Fi', 'Comedy, Family',
       'Adventure, Mystery, Sci-Fi', 'Action, Sci-Fi, Thriller',
       'Animation, Action, Adventure, Comedy, Family, Fantasy',
       'Horror, Mystery, Thriller', 'Action, Adventure, Drama, Fantasy',
       'Comedy, Fantasy', 'Comedy, Romance',
       'Action, Adventure, Mystery, Sci-Fi, Thriller',
       'Adventure, Fantasy', 'Comedy, Crime, Drama',
       'Adventure, Comedy, Fantasy',
       'Action, Adventure, Horror, Sci-Fi, Thriller',
       'Action, Adventure, Western', 'Action, Drama, Sci-Fi',
       'Action, Adventure, Comedy, Crime, Fantasy, Sci-Fi',
       'Crime, Mystery, Thriller', 'Adventure, Comedy, Crime',
       'Horror, Thriller', 'Action, Comedy, Sci-Fi',
       'Drama, History, Thriller', 'Drama, Music', 'Drama, Romance',
       'Comedy, Crime, Thriller', 'Biography, Drama, Sport',
       'Fantasy, Horror, Thriller',
       'Action, Comedy, Crime, Drama, Thriller',
       'Action, Crime, Mystery, Thriller', 'Action, Fantasy, War',
       'Horror, Sci-Fi, Thriller', 'Adventure, Family, Fantasy, Thriller',
       'Biography, Crime, Drama', 'Adventure, Comedy, Crime, Drama',
       'Comedy, Drama, Romance', 'Crime, Drama, Horror, Thriller',
       'Action, Fantasy, Horror', 'Action, Drama, Thriller',
       'Comedy, Drama, Sci-Fi', 'Crime, Drama, Fantasy, Mystery',
       'Drama, Mystery, Thriller',
       'Action, Adventure, Comedy, Mystery, Sci-Fi',
       'Animation, Adventure, Family, Fantasy, Mystery',
       'Adventure, Drama, Fantasy, Romance', 'Comedy, Sport',
       'Adventure, Comedy', 'Adventure, Family, Fantasy, Mystery',
       'Animation, Action, Adventure, Family', 'Comedy, Horror',
       'Animation, Family', 'Drama, Fantasy, War',
       'Action, Mystery, Thriller',
       'Animation, Adventure, Comedy, Drama, Family, Fantasy',
       'Action, Crime, Fantasy, Thriller',
       'Action, Adventure, Crime, Mystery, Thriller',
       'Action, Adventure, Drama, Thriller', 'Adventure, Comedy, Music',
       'Adventure, Fantasy, Mystery',
       'Action, Adventure, Drama, History, Romance',
       'Animation, Adventure, Comedy, Family, Sport',
       'Action, Sci-Fi, Thriller, Western', 'Comedy, Mystery',
       'Adventure, Comedy, Sci-Fi',
       'Animation, Adventure, Comedy, Family, Musical', 'Horror, Mystery',
       'Action, Drama, Fantasy, Romance',
       'Action, Drama, Family, Sci-Fi, Sport', 'Comedy, Drama, Family',
       'Action, Fantasy, Horror, Western', 'Drama, Sci-Fi, Thriller',
       'Action, Horror, Thriller', 'Drama, Horror, Thriller',
       'Animation, Adventure, Comedy, Drama, Family, Fantasy, Musical',
       'Comedy, Drama, Family, Fantasy',
       'Action, Horror, Sci-Fi, Thriller',
       'Action, Comedy, Horror, Sci-Fi', 'Drama, Horror',
       'Animation, Adventure, Comedy, Family, Fantasy, Sci-Fi',
       'Action, Drama, Mystery, Thriller', 'Adventure, Drama, Romance',
       'Comedy, Horror, Sci-Fi', 'Drama, Mystery, Sci-Fi',
       'Drama, Thriller, War', 'Comedy, Drama, Music',
       'Animation, Adventure, Comedy, Family, Sci-Fi',
       'Animation, Adventure, Family, Fantasy, Thriller',
       'Comedy, Drama, Family, Sport', 'Adventure, Comedy, Drama, Music',
       'Adventure, Comedy, Crime, Music',
       'Action, Crime, Mystery, Sci-Fi, Thriller',
       'Drama, Horror, Sci-Fi, Thriller', 'Comedy, Music', 'Drama, Sport',
       'Adventure, Comedy, Family, Fantasy, Musical',
       'Adventure, Drama, Thriller', 'Action, Comedy, Mystery',
       'Horror, Sci-Fi', 'Action, Drama, Fantasy',
       'Animation, Action, Adventure, Comedy, Family',
       'Action, Drama, Mystery, Sci-Fi, Thriller',
       'Drama, Fantasy, Thriller',
       'Action, Drama, Family, Romance, Sport',
       'Action, Adventure, Comedy', 'Action, Adventure, Family, Fantasy',
       'Animation, Action, Comedy, Family, Sci-Fi',
       'Animation, Adventure, Comedy, Family, Fantasy, Romance',
       'Action, Fantasy, Thriller',
       'Action, Comedy, Crime, Sci-Fi, Thriller',
       'Fantasy, Horror, Mystery, Romance, Thriller',
       'Adventure, Drama, Mystery', 'Adventure, Comedy, Family, Musical',
       'Drama, History, War', 'Action, Adventure, Drama, Thriller, War',
       'Animation, Comedy, Family, Horror, Sci-Fi',
       'Action, Adventure, Drama, Horror, Mystery, Thriller',
       'Action, Adventure, Comedy, Family, Fantasy, Sci-Fi',
       'Adventure, Comedy, Drama, Family, Fantasy',
       'Drama, Fantasy, Horror, Thriller', 'Comedy, Crime, Drama, Sci-Fi',
       'Drama, Fantasy, Horror, Mystery, Thriller', 'Drama, Fantasy',
       'Drama, Mystery', 'Adventure, Drama',
       'Comedy, Crime, Drama, Thriller', 'Adventure, Drama, Sci-Fi',
       'Action, Comedy, Thriller',
       'Animation, Adventure, Family, Fantasy, Musical, War',
       'Action, Adventure, Fantasy, Thriller', 'Comedy, Crime, Mystery',
       'Action, Horror, Sci-Fi', 'Adventure, Comedy, Family, Fantasy',
       'Crime, Horror, Mystery, Thriller',
       'Drama, Horror, Mystery, Thriller',
       'Action, Fantasy, Horror, Mystery', 'Adventure, Comedy, Family',
       'Drama, Horror, Sci-Fi', 'Adventure, Drama, Family, Fantasy',
       'Comedy, Family, Fantasy', 'Drama, Horror, Musical, Thriller',
       'Action, Drama, Sport', 'Action, Thriller, War',
       'Crime, Drama, History, Thriller',
       'Animation, Adventure, Comedy, Drama, Family',
       'Action, Adventure, Fantasy, Horror, Sci-Fi',
       'Action, Adventure, Family, Fantasy, Sci-Fi',
       'Animation, Action, Adventure, Sci-Fi',
       'Adventure, Comedy, Fantasy, Mystery', 'Comedy, War',
       'Drama, Family', 'Action, Horror, Mystery, Sci-Fi, Thriller',
       'Comedy, Sci-Fi', 'Action, Adventure, Horror, Sci-Fi',
       'Action, Adventure, Fantasy, Horror, Sci-Fi, Thriller',
       'Horror, Mystery, Sci-Fi', 'Drama, Sci-Fi',
       'Drama, History, Romance',
       'Adventure, Comedy, Crime, Horror, Romance',
       'Action, Crime, Drama', 'Drama, Romance, Sci-Fi',
       'Action, Comedy, Crime, Mystery, Thriller',
       'Action, Mystery, Sci-Fi, Thriller',
       'Action, Crime, Sci-Fi, Thriller',
       'Adventure, Comedy, Sci-Fi, Western',
       'Action, Adventure, Comedy, Family, Sci-Fi',
       'Animation, Family, Fantasy, Musical', 'Fantasy, Horror, Mystery',
       'Comedy, Mystery, Sci-Fi', 'Action, Drama, History, War',
       'Animation, Action, Adventure, Family, Fantasy, Sci-Fi',
       'Action, Adventure, Comedy, Crime',
       'Animation, Adventure, Comedy, Drama, Family, Fantasy, Sci-Fi',
       'Adventure, Comedy, Family, Fantasy, Mystery',
       'Comedy, Drama, Fantasy', 'Action, Adventure, Mystery, Thriller',
       'Comedy, Crime, Sport', 'Action, Comedy, Drama, Family',
       'Action, Adventure, Fantasy, Sci-Fi, Thriller',
       'Action, Crime, Drama, Western',
       'Animation, Action, Adventure, Fantasy',
       'Adventure, Comedy, Drama',
       'Adventure, Crime, Drama, Thriller, War',
       'Action, Adventure, Crime, Fantasy, Sci-Fi, Thriller',
       'Action, Crime, Drama, Mystery, Thriller',
       'Animation, Drama, Fantasy, Thriller',
       'Action, Adventure, Family, Fantasy, Sci-Fi, Thriller',
       'Animation, Adventure, Comedy, Crime, Drama, Family',
       'Action, Drama, Thriller, War',
       'Adventure, Comedy, Drama, Romance',
       'Crime, Drama, Horror, Mystery', 'Fantasy',
       'Drama, Horror, Mystery', 'Biography, Comedy, Crime, Drama',
       'Adventure, Comedy, Sci-Fi, Thriller', 'Crime, Drama, Sport',
       'Action, Crime, Fantasy', 'Comedy, Crime, Fantasy',
       'Adventure, Thriller',
       'Animation, Adventure, Comedy, Family, Fantasy, Sci-Fi, Sport',
       'Animation, Adventure, Drama, Family, Fantasy, Musical, Mystery, Romance',
       'Adventure, Comedy, Drama, Family, Romance',
       'Adventure, Comedy, Drama, Fantasy',
       'Fantasy, Horror, Mystery, Thriller',
       'Adventure, Drama, Romance, Thriller', 'Comedy, Romance, Sport',
       'Action, Adventure, Comedy, Crime, Thriller',
       'Drama, Music, Romance', 'Comedy, Crime, Musical',
       'Action, Adventure, Crime', 'Comedy, Drama, Family, Romance',
       'Action, Adventure, Drama, History, War',
       'Action, Crime, Drama, Mystery, Sci-Fi, Thriller',
       'Animation, Adventure, Comedy, Family, Fantasy, Musical',
       'Action, Crime',
       'Animation, Drama, Family, Fantasy, Musical, Romance',
       'Animation, Adventure, Comedy, Family, Music, Musical, Romance',
       'Animation, Adventure, Comedy',
       'Action, Adventure, Fantasy, Horror, Thriller',
       'Comedy, Drama, Music, Romance', 'Comedy, Drama, Musical, Romance',
       'Animation, Action, Adventure, Comedy, Family, Fantasy, Sci-Fi',
       'Comedy, Fantasy, Romance',
       'Action, Fantasy, Horror, Sci-Fi, Thriller',
       'Action, Comedy, Romance', 'Drama, Fantasy, Romance',
       'Action, Comedy, Romance, Thriller',
       'Action, Adventure, Drama, History',
       'Animation, Adventure, Family, Fantasy', 'Comedy, Horror, Romance',
       'Action, Crime, Horror, Thriller', 'Drama, Romance, Thriller',
       'Drama, Mystery, Romance, Thriller',
       'Action, Adventure, Family, Fantasy, Romance',
       'Animation, Drama, Family, Musical, Romance',
       'Drama, Romance, War', 'Comedy, Drama, History, Romance',
       'Animation, Adventure, Family, Sci-Fi',
       'Comedy, Family, Fantasy, Music, Romance',
       'Action, Adventure, Comedy, Thriller',
       'Action, Adventure, Crime, Fantasy, Thriller',
       'Animation, Comedy, Crime, Family, Musical, Mystery',
       'Crime, Horror, Mystery', 'Action, Fantasy, Horror, Thriller',
       'Action, Comedy, Drama, Thriller',
       'Animation, Adventure, Comedy, Family, Fantasy, Mystery',
       'Animation, Comedy, Family, Fantasy, Music',
       'Animation, Comedy, Family, Sport',
       'Action, Adventure, Drama, Fantasy, History',
       'Action, Adventure, Comedy, Romance, Thriller',
       'Action, Adventure, Drama, Family, Fantasy',
       'Comedy, Family, Romance', 'Adventure, Mystery, Thriller',
       'Adventure, Comedy, Family, Romance',
       'Animation, Adventure, Comedy, Family, Fantasy, Music',
       'Horror, Mystery, Sci-Fi, Thriller',
       'Biography, Drama, Family, Romance',
       'Drama, Fantasy, Mystery, Romance', 'Animation, Family, Fantasy',
       'Action, Comedy, Sci-Fi, Thriller', 'Action, Comedy, Drama',
       'Biography, Comedy, Crime, Drama, Romance',
       'Comedy, Family, Fantasy, Sport', 'Action, Adventure, History',
       'Comedy, Drama, Romance, Sci-Fi', 'Comedy, Drama, Romance, Sport',
       'Drama, Fantasy, Sport', 'Action, Horror',
       'Comedy, Family, Music, Romance',
       'Action, Adventure, Comedy, Drama, Romance',
       'Action, Comedy, Fantasy',
       'Action, Adventure, Comedy, Fantasy, Thriller',
       'Drama, Musical, Romance', 'Adventure, Comedy, Family, Sci-Fi',
       'Adventure, Comedy, Music, Musical', 'Comedy, Family, Sport',
       'Adventure, Family, Fantasy, Sci-Fi',
       'Action, Adventure, Comedy, Drama, Family, Sci-Fi, Sport',
       'Drama, Fantasy, Mystery, Sci-Fi, Thriller',
       'Animation, Drama, Family, Fantasy',
       'Action, Drama, Fantasy, Thriller, Western', 'Documentary, Music',
       'Adventure, Comedy, Drama, Fantasy, Romance',
       'Comedy, Drama, Sport', 'Comedy, Drama, Fantasy, Romance',
       'Drama, Music, Romance, Thriller', 'Action, Drama, Horror',
       'Crime, Drama, Romance, Thriller', 'Crime, Romance, Thriller',
       'Action, Adventure, Comedy, Drama, War',
       'Action, Comedy, Sci-Fi, Western',
       'Comedy, Drama, Romance, Thriller', 'Drama, Family, Romance',
       'Comedy, Family, Fantasy, Romance', 'Action, Drama, Romance, War',
       'Drama, Music, Musical', 'Drama, Fantasy, Mystery, Thriller',
       'Crime, Drama, Romance, Western',
       'Comedy, Drama, Family, Music, Musical, Romance',
       'Biography, Comedy, Drama, Romance', 'Comedy, Crime, Romance',
       'Comedy, Drama, Family, Music, Romance',
       'Action, Comedy, Crime, Family', 'Action, Comedy, Family',
       'Action, Fantasy, Western',
       'Action, Adventure, Drama, Horror, Thriller',
       'Action, Drama, Horror, Sci-Fi, Thriller',
       'Adventure, Drama, Sport, Thriller',
       'Adventure, Fantasy, Thriller', 'Adventure, Comedy, Family, Sport',
       'Action, Adventure, Comedy, Fantasy',
       'Action, Adventure, Horror, Thriller', 'Comedy, Crime, Family',
       'Action, Adventure, Romance, Sci-Fi, Thriller',
       'Action, Adventure, Family, Sci-Fi, Thriller',
       'Action, Crime, Romance, Thriller',
       'Animation, Adventure, Comedy, Family, Romance',
       'Animation, Adventure, Family, Thriller',
       'Crime, Drama, Mystery, Sci-Fi, Thriller',
       'Comedy, Drama, Mystery', 'Drama, Mystery, Romance, Sci-Fi',
       'Action, Adventure, Comedy, Crime, Family',
       'Action, Drama, Romance, Western',
       'Action, Adventure, Comedy, Family, Western',
       'Family, Music, Musical, Romance',
       'Comedy, Fantasy, Horror, Thriller', 'Comedy, Crime, Music',
       'Action, Adventure, Romance, Thriller, Western', 'Comedy, Musical',
       'Animation, Adventure, Comedy, Family, Fantasy, Mystery, Sci-Fi',
       'Adventure, Comedy, Crime, Family, Mystery', 'Sci-Fi, Thriller',
       'Comedy, Music, Romance',
       'Crime, Drama, Horror, Mystery, Thriller',
       'Crime, Horror, Thriller', 'Comedy, Crime, Romance, Thriller',
       'Action, Crime, Horror, Mystery, Thriller',
       'Documentary, Action, Comedy', 'Thriller',
       'Drama, Family, Fantasy, Sport', 'Animation, Adventure, Family',
       'Comedy, Drama, Mystery, Sci-Fi, Thriller',
       'Comedy, Crime, Musical, Mystery',
       'Adventure, Drama, Romance, Western',
       'Comedy, Crime, Family, Music',
       'Comedy, Crime, Drama, Mystery, Thriller',
       'Adventure, Drama, Family', 'Comedy, Drama, Thriller',
       'Drama, Romance, Western', 'Action, Comedy, Fantasy, Sci-Fi',
       'Animation, Action, Adventure, Family, Sci-Fi',
       'Drama, Fantasy, Horror',
       'Action, Adventure, Biography, Drama, Sport, Western',
       'Action, Adventure, Drama, Romance',
       'Comedy, Crime, Family, Romance',
       'Comedy, Crime, Drama, Music, Romance',
       'Action, Biography, Drama, Sport', 'Comedy, Romance, Sci-Fi',
       'Drama, Horror, Mystery, Sci-Fi, Thriller',
       'Animation, Action, Adventure, Sci-Fi, Thriller',
       'Animation, Comedy, Crime, Family, Mystery',
       'Action, Comedy, Horror, Thriller', 'Action, Drama, War',
       'Comedy, Drama, Mystery, Romance',
       'Action, Adventure, Comedy, Crime, Drama, Romance',
       'Drama, Fantasy, Horror, Mystery, Romance, Thriller',
       'Animation, Drama, Fantasy',
       'Action, Adventure, Comedy, Family, Romance',
       'Drama, Fantasy, Horror, Mystery',
       'Action, Adventure, Comedy, Western', 'Drama, Romance, Sport',
       'Animation, Adventure, Drama, Family, Western',
       'Action, Comedy, Crime, Drama',
       'Adventure, Comedy, Family, Fantasy, Horror, Mystery, Sci-Fi',
       'Adventure, Comedy, Mystery', 'Crime, Drama, Music',
       'Comedy, Family, Romance, Sport',
       'Crime, Drama, Fantasy, Mystery, Thriller',
       'Action, Adventure, War',
       'Comedy, Drama, Fantasy, Romance, Sci-Fi',
       'Animation, Adventure, Family, Fantasy, Musical',
       'Comedy, Horror, Mystery, Thriller', 'Biography, Drama',
       'Biography, Crime, Drama, Horror',
       'Fantasy, Horror, Sci-Fi, Thriller',
       'Adventure, Comedy, Drama, Romance, Thriller, War',
       'Crime, Drama, Musical',
       'Action, Comedy, Crime, Music, Romance, Thriller',
       'Action, Adventure, Crime, Drama, Thriller', 'Comedy, Western',
       'Action, Adventure, Comedy, Thriller, Western',
       'Action, Adventure, Comedy, Romance',
       'Adventure, Comedy, Crime, Romance',
       'Drama, Family, Fantasy, Romance', 'Action, Crime, Drama, Sport',
       'Action, Comedy, Fantasy, Romance',
       'Adventure, Comedy, Family, Music, Romance',
       'Comedy, Family, Fantasy, Horror, Mystery',
       'Biography, Drama, History, Romance', 'Comedy, Family, Music',
       'Comedy, Crime, Family, Mystery, Romance, Thriller',
       'Documentary, Crime, News', 'Action, Comedy, Family, Fantasy',
       'Biography, Comedy, Drama, Family, Romance',
       'Crime, Drama, Western', 'Action, Adventure, Family, Thriller',
       'Action, Drama, Fantasy, Mystery, Thriller',
       'Adventure, Crime, Thriller', 'Action, Adventure, Romance',
       'Drama, Fantasy, Romance, Sci-Fi', 'Drama, Family, Sport',
       'Adventure, Drama, Romance, War',
       'Animation, Adventure, Comedy, Family, Music, Western',
       'Comedy, Horror, Sci-Fi, Thriller',
       'Adventure, Comedy, Family, Fantasy, Romance, Sport',
       'Drama, Sport, Thriller',
       'Animation, Adventure, Comedy, Family, War',
       'Action, Adventure, Fantasy, Horror',
       'Adventure, Comedy, Family, Romance, Sci-Fi',
       'Action, Adventure, Comedy, Crime, Family, Mystery',
       'Biography, Comedy, Drama, Music', 'Documentary',
       'Drama, Fantasy, Sci-Fi', 'Adventure, Drama, Mystery, Thriller',
       'Comedy, Crime, History, Thriller', 'Crime, Drama, Romance',
       'Drama, Mystery, Romance',
       'Comedy, Drama, Family, Fantasy, Musical', 'Crime, Drama, Mystery',
       'Action, Adventure, Mystery, Sci-Fi', 'Action, Comedy, Horror',
       'Comedy, Crime, Drama, Romance',
       'Drama, Fantasy, Mystery, Romance, Thriller',
       'Comedy, Drama, Romance, Music', 'Action, Drama, Romance',
       'Drama, Family, Sci-Fi', 'Animation, Drama',
       'Comedy, Drama, Horror, Thriller',
       'Action, Drama, Mystery, Thriller, War', 'Comedy, Family, Sci-Fi',
       'Action, Adventure, Comedy, Crime, Family, Sci-Fi',
       'Comedy, Family, Romance, Sci-Fi',
       'Animation, Action, Adventure, Comedy, Crime, Family, Fantasy, Sci-Fi',
       'Action, Adventure, Comedy, Crime, Family, Romance, Thriller',
       'Adventure, Comedy, Sport', 'Comedy, Romance, Drama',
       'Documentary, Family', 'Action, Drama, Fantasy, Horror, Thriller',
       'Action, Comedy, Music',
       'Action, Comedy, Crime, Fantasy, Horror, Mystery, Sci-Fi, Thriller',
       'Comedy, Drama, War', 'Comedy, Crime, Drama, Family',

In [11]:
newDF = mergedDF
newDF.head()

,Title,Year,Release Date,Genre,IMDb Rating,Metascore,Rated,Box_Office_Adjusted,GDP,GDP_1,...,Confidence,Confidence_1,Confidence_2,Median_Income,Median_Income_1,Median_Income_2,GDP_AVG,Unemployment_AVG,Confidence_AVG,Median_Income_AVG
0,Pulp Fiction,1994,14-Oct-94,"Crime, Drama",8.9,94.0,R,174798000.0,4.028831,2.752852,...,100.623117,99.561792,98.883736,54233.0,53610.0,53897.0,3.434709,6.830555,99.689548,53913.333333
1,The Amazing Spider-Man 2,2014,2-May-14,"Action, Adventure, Sci-Fi",6.6,53.0,PG-13,185110348.7,2.525971,1.842081,...,99.697407,99.120563,98.800227,56969.0,57856.0,55900.0,2.205866,7.202778,99.206066,56908.333333
2,The Silence of the Lambs,1991,14-Feb-91,"Crime, Drama, Thriller",8.6,85.0,R,230032000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Jurassic Park,1993,11-Jun-93,"Adventure, Sci-Fi, Thriller",8.1,68.0,PG-13,75197468.8,2.752852,3.522443,...,99.561792,98.883736,98.929730,53610.0,53897.0,54318.0,2.055678,7.075000,99.125086,53941.666667
4,The Lion King,1994,24-Jun-94,"Animation, Adventure, Drama, Family, Musical",8.5,83.0,G,152669828.7,4.028831,2.752852,...,100.623117,99.561792,98.883736,54233.0,53610.0,53897.0,3.434709,6.830555,99.689548,53913.333333

In [12]:
top_N = 30
a = newDF.Genre.str.lower().str.cat(sep=' ')
words = nltk.tokenize.word_tokenize(a)
word_dist = nltk.FreqDist(words)
print (word_dist)

<FreqDist with 23 samples and 17880 outcomes>

In [13]:
rslt = pd.DataFrame(word_dist.most_common(top_N),
                    columns=['Word', 'Frequency'])
print(rslt)

           Word  Frequency
0             ,       7188
1         drama       1903
2        comedy       1441
3      thriller       1057
4       romance        901
5        action        818
6     adventure        686
7         crime        684
8       fantasy        450
9        family        421
10      mystery        401
11       sci-fi        391
12       horror        336
13    biography        266
14    animation        193
15        music        156
16        sport        148
17      history        135
18          war        119
19      musical         75
20  documentary         64
21      western         46
22         news          1

In [14]:
rslt = rslt.iloc[1:23]

In [15]:
rslt

           Word  Frequency
1         drama       1903
2        comedy       1441
3      thriller       1057
4       romance        901
5        action        818
6     adventure        686
7         crime        684
8       fantasy        450
9        family        421
10      mystery        401
11       sci-fi        391
12       horror        336
13    biography        266
14    animation        193
15        music        156
16        sport        148
17      history        135
18          war        119
19      musical         75
20  documentary         64
21      western         46
22         news          1

In [16]:
rsltList = list(rslt.Word)
rsltList

['drama',
 'comedy',
 'thriller',
 'romance',
 'action',
 'adventure',
 'crime',
 'fantasy',
 'family',
 'mystery',
 'sci-fi',
 'horror',
 'biography',
 'animation',
 'music',
 'sport',
 'history',
 'war',
 'musical',
 'documentary',
 'western',
 'news']

In [17]:
# new data frame with split value columns 
genreDF = newDF["Genre"].str.split(" ", n = 20, expand = True) 
genreDF.head()

            0           1         2        3        4     5     6     7
0      Crime,       Drama      None     None     None  None  None  None
1     Action,  Adventure,    Sci-Fi     None     None  None  None  None
2      Crime,      Drama,  Thriller     None     None  None  None  None
3  Adventure,     Sci-Fi,  Thriller     None     None  None  None  None
4  Animation,  Adventure,    Drama,  Family,  Musical  None  None  None

In [18]:
# lowercase all genres and replace ','
for index in (range(genreDF.shape[1])):
    genreDF[index]=genreDF[index].str.lower().str.replace(',','')

In [19]:
# create placeholder columns in new DF to count category
# genreDFCount = pd.DataFrame()
for genre in rsltList:
    genreDF[genre] = 0
genreDF.head()

,0,1,2,3,4,5,6,7,drama,comedy,...,biography,animation,music,sport,history,war,musical,documentary,western,news
0,crime,drama,None,None,None,None,None,None,0,0,...,0,0,0,0,0,0,0,0,0,0
1,action,adventure,sci-fi,None,None,None,None,None,0,0,...,0,0,0,0,0,0,0,0,0,0
2,crime,drama,thriller,None,None,None,None,None,0,0,...,0,0,0,0,0,0,0,0,0,0
3,adventure,sci-fi,thriller,None,None,None,None,None,0,0,...,0,0,0,0,0,0,0,0,0,0
4,animation,adventure,drama,family,musical,None,None,None,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
# loop through every row of genreDF
for key,value in genreDF.iterrows():
# loop through every column of genreDF

    for genre in value[0:7]:
        if genre in rsltList:
#             print(genreDF[genre][key])
            genreDF[genre][key] = 1
#             print(genreDF[genre])

C:\Users\19086\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [21]:
genreDF.head()

,0,1,2,3,4,5,6,7,drama,comedy,...,biography,animation,music,sport,history,war,musical,documentary,western,news
0,crime,drama,None,None,None,None,None,None,1,0,...,0,0,0,0,0,0,0,0,0,0
1,action,adventure,sci-fi,None,None,None,None,None,0,0,...,0,0,0,0,0,0,0,0,0,0
2,crime,drama,thriller,None,None,None,None,None,1,0,...,0,0,0,0,0,0,0,0,0,0
3,adventure,sci-fi,thriller,None,None,None,None,None,0,0,...,0,0,0,0,0,0,0,0,0,0
4,animation,adventure,drama,family,musical,None,None,None,1,0,...,0,1,0,0,0,0,1,0,0,0

In [22]:
genreDF.to_csv('genreCount.csv')

In [23]:
# drop columns 0-7
genreDF = genreDF.iloc[:,8:]

In [24]:
# merge genreDF back with mergedDF, join on index 
mergedDF = mergedDF.join(other=genreDF,how='left')

In [25]:
mergedDF.head()

,Title,Year,Release Date,Genre,IMDb Rating,Metascore,Rated,Box_Office_Adjusted,GDP,GDP_1,...,biography,animation,music,sport,history,war,musical,documentary,western,news
0,Pulp Fiction,1994,14-Oct-94,"Crime, Drama",8.9,94.0,R,174798000.0,4.028831,2.752852,...,0,0,0,0,0,0,0,0,0,0
1,The Amazing Spider-Man 2,2014,2-May-14,"Action, Adventure, Sci-Fi",6.6,53.0,PG-13,185110348.7,2.525971,1.842081,...,0,0,0,0,0,0,0,0,0,0
2,The Silence of the Lambs,1991,14-Feb-91,"Crime, Drama, Thriller",8.6,85.0,R,230032000.0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,Jurassic Park,1993,11-Jun-93,"Adventure, Sci-Fi, Thriller",8.1,68.0,PG-13,75197468.8,2.752852,3.522443,...,0,0,0,0,0,0,0,0,0,0
4,The Lion King,1994,24-Jun-94,"Animation, Adventure, Drama, Family, Musical",8.5,83.0,G,152669828.7,4.028831,2.752852,...,0,1,0,0,0,0,1,0,0,0

In [26]:
mergedDF.to_csv('mergedData.csv')

In [27]:
# bring in presidential rating data
presDF = pd.read_csv('president_ratings/Output/president_rating.csv')
presDF.head()

   Start Date  End Date  Approving  Disapproving  Unsure/NoData President
0  10/08/1993      1993         50            41              8   Clinton
1  12/17/1993      1993         47            42              9   Clinton
2  12/04/1993      1993         52            38              9   Clinton
3  11/19/1993      1993         47            43              8   Clinton
4  11/15/1993      1993         49            42              7   Clinton

In [28]:
presDF.dtypes

Start Date       object
End Date          int64
Approving         int64
Disapproving      int64
Unsure/NoData     int64
President        object
dtype: object

In [29]:
# create month year column for presDF
presDF['Month_Year'] = presDF['Start Date'].astype('datetime64').dt.strftime('%m/%Y')
presDF.head()

,Start Date,End Date,Approving,Disapproving,Unsure/NoData,President,Month_Year
0,10/08/1993,1993,50,41,8,Clinton,10/1993
1,12/17/1993,1993,47,42,9,Clinton,12/1993
2,12/04/1993,1993,52,38,9,Clinton,12/1993
3,11/19/1993,1993,47,43,8,Clinton,11/1993
4,11/15/1993,1993,49,42,7,Clinton,11/1993

In [30]:
presDF['Start Date'].head()

0    10/08/1993
1    12/17/1993
2    12/04/1993
3    11/19/1993
4    11/15/1993
Name: Start Date, dtype: object

In [31]:
# There are multiple surveys taken per month per president, will need to average out ratings to avoid duplications when joining
# create group by DF by Month_Year and President

presGroupDF = presDF.groupby(by=['Month_Year','President']).mean().reset_index()
presGroupDF.head(20)

   Month_Year     President  End Date  Approving  Disapproving  Unsure/NoData
0     01/1993       Clinton    1993.0  55.500000     25.000000      19.000000
1     01/1994       Clinton    1994.0  54.666667     36.666667       7.333333
2     01/1995       Clinton    1995.0  46.000000     45.000000       7.000000
3     01/1996       Clinton    1996.0  46.666667     45.666667       7.000000
4     01/1997       Clinton    1997.0  59.000000     31.333333       7.666667
5     01/1998       Clinton    1998.0  61.833333     31.333333       6.000000
6     01/1999       Clinton    1999.0  67.000000     30.600000       2.400000
7     01/2000       Clinton    2000.0  61.750000     34.000000       3.000000
8     01/2001       Clinton    2001.0  64.500000     30.000000       4.500000
9     01/2002   George Bush    2002.0  83.000000     12.500000       3.000000
10    01/2003   George Bush    2003.0  59.666667     34.333333       4.666667
11    01/2004   George Bush    2004.0  55.500000     40.250000       2.750000
12    01/2005   George Bush    2005.0  51.000000     44.000000       3.000000
13    01/2006   George Bush    2006.0  43.000000     53.666667       3.666667
14    01/2007   George Bush    2007.0  35.500000     61.000000       4.000000
15    01/2008   George Bush    2008.0  33.333333     61.666667       5.000000
16    01/2009  Barack Obama    2009.0  66.272727     16.090909      17.727273
17    01/2009   George Bush    2009.0  34.000000     61.000000       5.000000
18    01/2010  Barack Obama    2010.0  49.433333     44.033333       6.533333
19    01/2011  Barack Obama    2011.0  49.103448     42.896552       8.000000

In [32]:
# for cases where a Presidency was in transition in January, take the first president
for key, value in presGroupDF.iterrows():
    if str(list(value)[0])[:2]=='01':
        print(f'index:{key} - {list(value)[0]} - {list(value)[1]}')

index:0 - 01/1993 - Clinton
index:1 - 01/1994 - Clinton
index:2 - 01/1995 - Clinton
index:3 - 01/1996 - Clinton
index:4 - 01/1997 - Clinton
index:5 - 01/1998 - Clinton
index:6 - 01/1999 - Clinton
index:7 - 01/2000 - Clinton
index:8 - 01/2001 - Clinton
index:9 - 01/2002 - George Bush
index:10 - 01/2003 - George Bush
index:11 - 01/2004 - George Bush
index:12 - 01/2005 - George Bush
index:13 - 01/2006 - George Bush
index:14 - 01/2007 - George Bush
index:15 - 01/2008 - George Bush
index:16 - 01/2009 - Barack Obama
index:17 - 01/2009 - George Bush
index:18 - 01/2010 - Barack Obama
index:19 - 01/2011 - Barack Obama
index:20 - 01/2012 - Barack Obama
index:21 - 01/2013 - Barack Obama
index:22 - 01/2014 - Barack Obama
index:23 - 01/2015 - Barack Obama
index:24 - 01/2016 - Barack Obama
index:25 - 01/2017 - Barack Obama
index:26 - 01/2017 - Donald Trump
index:27 - 01/2018 - Donald Trump

In [33]:
# remove 01-2009 for Barack Obama
presGroupDF.loc[(presGroupDF.Month_Year == '01/2009')&(presGroupDF.President == 'Barack Obama')]

   Month_Year     President  End Date  Approving  Disapproving  Unsure/NoData
16    01/2009  Barack Obama    2009.0  66.272727     16.090909      17.727273

In [34]:
# remove 01-2017 for Donald Trump
presGroupDF.loc[(presGroupDF.Month_Year == '01/2017')&(presGroupDF.President == 'Donald Trump')]

   Month_Year     President  End Date  Approving  Disapproving  Unsure/NoData
26    01/2017  Donald Trump    2017.0       44.0          49.5            6.5

In [35]:
presGroupDF.drop([16,26])

,Month_Year,President,End Date,Approving,Disapproving,Unsure/NoData
0,01/1993,Clinton,1993.000000,55.500000,25.000000,19.000000
1,01/1994,Clinton,1994.000000,54.666667,36.666667,7.333333
2,01/1995,Clinton,1995.000000,46.000000,45.000000,7.000000
3,01/1996,Clinton,1996.000000,46.666667,45.666667,7.000000
4,01/1997,Clinton,1997.000000,59.000000,31.333333,7.666667
5,01/1998,Clinton,1998.000000,61.833333,31.333333,6.000000
6,01/1999,Clinton,1999.000000,67.000000,30.600000,2.400000
7,01/2000,Clinton,2000.000000,61.750000,34.000000,3.000000
8,01/2001,Clinton,2001.000000,64.500000,30.000000,4.500000
9,01/2002,George Bush,2002.000000,83.000000,12.500000,3.000000
10,01/2003,George Bush,2003.000000,59.666667,34.333333,4.666667
11,01/2004,George Bush,2004.000000,55.500000,40.250000,2.750000
12,01/2005,George Bush,2005.000000,51.000000,44.000000,3.000000
13,01/2006,George Bush,2006.000000,43.000000,53.666667,3.666667
14,01/2007,George Bush,2007.000000,35.500000,61.000000,4.000000
15,01/2008,George Bush,2008.000000,33.333333,61.666667,5.000000
17,01/2009,George Bush,2009.000000,34.000000,61.000000,5.000000
18,01/2010,Barack Obama,2010.000000,49.433333,44.033333,6.533333
19,01/2011,Barack Obama,2011.000000,49.103448,42.896552,8.000000
20,01/2012,Barack Obama,2012.000000,44.833333,47.166667,8.000000
21,01/2013,Barack Obama,2013.000000,52.172414,41.827586,6.000000
22,01/2014,Barack Obama,2014.000000,41.133333,51.100000,7.766667
23,01/2015,Barack Obama,2015.000000,46.448276,48.206897,5.413793
24,01/2016,Barack Obama,2016.000000,47.766667,47.866667,4.366667
25,01/2017,Barack Obama,2017.000000,56.600000,39.800000,3.333333
27,01/2018,Donald Trump,2018.000000,37.800000,57.800000,4.400000
28,02/1993,Clinton,1993.000000,54.500000,30.500000,13.500000
29,02/1994,Clinton,1994.000000,53.000000,40.000000,5.000000
30,02/1995,Clinton,1995.000000,45.000000,45.500000,7.500000
31,02/1996,Clinton,1996.000000,53.000000,40.000000,6.000000
...,...,...,...,...,...,...
281,11/2013,Barack Obama,2013.000000,41.000000,52.428571,6.571429
282,11/2014,Barack Obama,2014.000000,42.068966,52.793103,5.137931
283,11/2015,Barack Obama,2015.000000,46.892857,49.035714,4.071429
284,11/2016,Barack Obama,2016.000000,55.888889,41.259259,3.074074
285,11/2017,Donald Trump,2017.000000,37.000000,57.000000,6.000000
286,12/1993,Clinton,1993.000000,49.500000,40.000000,9.000000
287,12/1994,Clinton,1994.000000,41.333333,51.000000,6.333333
288,12/1995,Clinton,1995.000000,50.000000,43.000000,5.000000
289,12/1996,Clinton,1996.000000,57.000000,34.000000,8.000000
290,12/1997,Clinton,1997.000000,55.000000,36.000000,7.000000
291,12/1998,Clinton,1998.000000,64.000000,31.500000,3.000000
292,12/1999,Clinton,1999.000000,56.500000,38.000000,4.000000
293,12/2000,Clinton,2000.000000,65.000000,30.500000,3.000000
294,12/2001,George Bush,2001.000000,85.000000,10.000000,3.000000
295,12/2002,George Bush,2002.000000,62.333333,31.000000,5.333333
296,12/2003,George Bush,2003.000000,58.500000,37.000000,2.500000
297,12/2004,George Bush,2004.000000,50.500000,45.000000,3.500000
298,12/2005,George Bush,2005.000000,42.250000,53.750000,3.500000
299,12/2006,George Bush,2006.000000,36.500000,60.000000,4.000000
300,12/2007,George Bush,2007.000000,34.500000,61.000000,4.000000
301,12/2008,George Bush,2008.000000,30.500000,64.000000,5.500000
302,12/2009,Barack Obama,2009.080000,50.160000,42.800000,7.080000
303,12/2010,Barack Obama,2010.080000,46.280000,45.960000,7.760000
304,12/2011,Barack Obama,2011.076923,43.192308,49.076923,7.730769
305,12/2012,Barack Obama,2012.074074,52.666667,40.777778,6.555556
306,12/2013,Barack Obama,2013.076923,41.230769,50.884615,7.884615
307,12/2014,Barack Obama,2014.076923,44.230769,50.538462,5.192308
308,12/2015,Barack Obama,2015.074074,45.666667,50.000000,4.333333
309,12/2016,Barack Obama,2016.074074,55.888889,40.518519,3.592593
310,12/2017,Donald Trump,2017.000000,36.750000,57.750000,5.500000

In [36]:
# create month year column for merged DF
mergedDF['Month_Year'] = mergedDF['Release Date'].astype('datetime64').dt.strftime('%m/%Y')
mergedDF.head()

,Title,Year,Release Date,Genre,IMDb Rating,Metascore,Rated,Box_Office_Adjusted,GDP,GDP_1,...,animation,music,sport,history,war,musical,documentary,western,news,Month_Year
0,Pulp Fiction,1994,14-Oct-94,"Crime, Drama",8.9,94.0,R,174798000.0,4.028831,2.752852,...,0,0,0,0,0,0,0,0,0,10/1994
1,The Amazing Spider-Man 2,2014,2-May-14,"Action, Adventure, Sci-Fi",6.6,53.0,PG-13,185110348.7,2.525971,1.842081,...,0,0,0,0,0,0,0,0,0,05/2014
2,The Silence of the Lambs,1991,14-Feb-91,"Crime, Drama, Thriller",8.6,85.0,R,230032000.0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,02/1991
3,Jurassic Park,1993,11-Jun-93,"Adventure, Sci-Fi, Thriller",8.1,68.0,PG-13,75197468.8,2.752852,3.522443,...,0,0,0,0,0,0,0,0,0,06/1993
4,The Lion King,1994,24-Jun-94,"Animation, Adventure, Drama, Family, Musical",8.5,83.0,G,152669828.7,4.028831,2.752852,...,1,0,0,0,0,1,0,0,0,06/1994

In [37]:
# merge presidential ratings with merged DF based on month year column
mergedDF = mergedDF.merge(presGroupDF, on='Month_Year',how='left')
mergedDF.head()

,Title,Year,Release Date,Genre,IMDb Rating,Metascore,Rated,Box_Office_Adjusted,GDP,GDP_1,...,musical,documentary,western,news,Month_Year,President,End Date,Approving,Disapproving,Unsure/NoData
0,Pulp Fiction,1994,14-Oct-94,"Crime, Drama",8.9,94.0,R,174798000.0,4.028831,2.752852,...,0,0,0,0,10/1994,Clinton,1994.0,43.333333,49.666667,5.666667
1,The Amazing Spider-Man 2,2014,2-May-14,"Action, Adventure, Sci-Fi",6.6,53.0,PG-13,185110348.7,2.525971,1.842081,...,0,0,0,0,05/2014,Barack Obama,2014.0,44.129032,50.806452,5.064516
2,The Silence of the Lambs,1991,14-Feb-91,"Crime, Drama, Thriller",8.6,85.0,R,230032000.0,NaN,NaN,...,0,0,0,0,02/1991,NaN,NaN,NaN,NaN,NaN
3,Jurassic Park,1993,11-Jun-93,"Adventure, Sci-Fi, Thriller",8.1,68.0,PG-13,75197468.8,2.752852,3.522443,...,0,0,0,0,06/1993,Clinton,1993.0,39.666667,48.666667,10.000000
4,The Lion King,1994,24-Jun-94,"Animation, Adventure, Drama, Family, Musical",8.5,83.0,G,152669828.7,4.028831,2.752852,...,1,0,0,0,06/1994,Clinton,1994.0,46.000000,45.666667,7.333333

In [38]:
mergedDF.columns

Index(['Title', 'Year', 'Release Date', 'Genre', 'IMDb Rating', 'Metascore',
       'Rated', 'Box_Office_Adjusted', 'GDP', 'GDP_1', 'GDP_2', 'Unemployment',
       'Unemployment_1', 'Unemployment_2', 'Confidence', 'Confidence_1',
       'Confidence_2', 'Median_Income', 'Median_Income_1', 'Median_Income_2',
       'GDP_AVG', 'Unemployment_AVG', 'Confidence_AVG', 'Median_Income_AVG',
       'drama', 'comedy', 'thriller', 'romance', 'action', 'adventure',
       'crime', 'fantasy', 'family', 'mystery', 'sci-fi', 'horror',
       'biography', 'animation', 'music', 'sport', 'history', 'war', 'musical',
       'documentary', 'western', 'news', 'Month_Year', 'President', 'End Date',
       'Approving', 'Disapproving', 'Unsure/NoData'],
      dtype='object')

In [39]:
mergedDF.to_csv('mergedData.csv')

In [57]:
# create group by object by movie, month year, and genre types to create a word count csv 
movieCountDF = mergedDF[['Title','Month_Year','drama', 'comedy', 'thriller', 'romance', 'action', 'adventure',
       'crime', 'fantasy', 'family', 'mystery', 'sci-fi', 'horror',
       'biography', 'animation', 'music', 'sport', 'history', 'war', 'musical',
       'documentary', 'western', 'news']]
movieCountDF=movieCountDF.melt(id_vars=['Title','Month_Year'],value_vars=['drama', 'comedy', 'thriller', 'romance', 'action', 'adventure',
       'crime', 'fantasy', 'family', 'mystery', 'sci-fi', 'horror',
       'biography', 'animation', 'music', 'sport', 'history', 'war', 'musical',
       'documentary', 'western', 'news'])
movieCountDF= movieCountDF.rename(columns = {'variable':'genre','value':'count'})
movieCountDF
movieCountDF.to_csv('movieCount.csv')